ul {
  list-style-type: none;
}
.loading {
  text-align: center;
}
.loading img {
  width: 50px;
}
.avatar {
  width: 32px;
  border-radius: 50%;
}

button.close {
  margin-right: 10px;
}

.channelContainer > img {
  margin-right: 6px;
}
.channelContainer:hover {
  background-color: #f4f4f4;
}

.channel-name {
  font-weight: 600;
}

.loading-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
  color: #d8d8d8;
}
